# Supabase
SUPABASE_URL=https://bkzebhveapgcbpjtcivb.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJremViaHZlYXBnY2JwanRjaXZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDc4NTM1NiwiZXhwIjoyMTAwMzYxMzU2fQ.tn2PwXOGTAV_hevAOE39U6qqBkBVFzk241TeZizw3d0
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJremViaHZlYXBnY2JwanRjaXZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ3ODUzNTYsImV4cCI6MjEwMDM2MTM1Nn0.ylcZkDUhiQFXW6gXSlpq-g2G6JnTOYvKNQW2_lBJiU4

# Google (dipakai nanti untuk sync ke Sheets, belum dipakai di MVP ini)
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
GOOGLE_SHEET_ID=1O72xPcVS7KluIQ9sPpvdIL5lDUnhZ4L1J8oOKtAwOy8
GOOGLE_DRIVE_FOLDER_ID=1HtHt09eM-QryWc5p2YkCjZhGw7EGZVID

# Sync webhook (belum dipakai di MVP ini)
SYNC_WEBHOOK_SECRET=
